.About_main
{
    max-width: var( --max-width);
    margin: auto;
    background-color: black;
    padding-top: 1rem;
    color: rgba(255, 255, 255, 0.563);
    display: grid;
    text-align: center;
}
.About_wrapper
{
    padding: 2rem;
}
.About_wrapper p
{
 font-size: 1.2rem;
}
.about_content
{
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
}

.about_content p
{
    padding: 1rem 0.5rem;
   

  
    
}
