body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg,#2e3192,#1bffff);
    
  }
  main {
    padding: 1rem;
   background-color: #153e54;
   
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    border-radius: 12px;
  }

  .row {
    width: 600px;
    height: 255px;
    transition: 0.3s all ease;
    overflow: hidden;
  }

  .increase {
    height: 320px;
  }

  .col {
    height: 190px;
  }

  @media (max-width :768px) {


    main {
    
      top: 0;
      left: 5%;
     
    }
    .row {
      max-width: 300px;
      height: auto;
    
    }
    
  }