@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&display=swap');

body {

    color: rgb(196, 188, 188);
    background-color: rgb(20, 20, 20);

}




:root {


    --primaryColor: rgb(30, 29, 29);
    --secondaryColor: rgb(30, 29, 29);
}

.logo_img {
    width: 25px;
}

.car_name {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    font-size: 8em;
    left: 35%;
    top: 5%;
    z-index: -1;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
    letter-spacing: 10px;

}

header {
    background-color: rgb(16, 16, 16);
}

nav ul li {
    position: relative;
}

nav ul li::after {
    content: "";
    position: absolute;
    left: 2px;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: blue;

}

nav ul li:hover::after {
    width: 100%;
    transition: 0.3s all;


}

main {
    z-index: 1;
    background-color: var(--primaryColor);
}

section {
    background-color: var(--secondaryColor);

}

main img {
    animation: ease icc 10s infinite;
}

.test_drive {
    width: 45px;

}

/* car color change animation */
@keyframes icc {
    0% {
        filter: hue-rotate(10deg);
    }

    15% {
        filter: hue-rotate(72deg);
    }

    25% {
        filter: hue-rotate(144deg);
    }

    50% {
        filter: hue-rotate(216deg);

    }

    75% {
        filter: hue-rotate(288deg);

    }

    100% {
        filter: hue-rotate(360deg);

    }

}

.car_box {
    width: 150px;

}

footer {
    background-color: var(--secondaryColor);
}

.footer_text {
    font-size: 10px;
}

@media(min-width:768px) and (max-width:1024px) {
    .car_name {

        font-size: 7em;
        left: 10%;

        top: 3%;


        letter-spacing: 8px;

    }
}

@media(min-width:460px) and (max-width:767px) {
    .car_name {


        font-size: 6.5em;
        left: 5%;

        top: 2%;

        letter-spacing: 8px;




    }
}


@media(max-width:460px) {
    .car_name {


        font-size: 4em;
        left: 5%;

        top: 8%;

        letter-spacing: 10px;




    }

}